.borderleftright {



	border-top-width: 3px;



	border-right-width: 3px;



	border-bottom-width: 3px;



	border-left-width: 3px;



	border-right-style: solid;



	border-left-style: solid;



	border-top-color: #00A39F;



	border-right-color: #00A39F;



	border-bottom-color: #00A39F;



	border-left-color: #00A39F;



}



.borderright {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-style: none;



}



.whitetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	line-height: 18px;



}



.a1:link {



	font-family: Verdana, Arial, Helvetica, sans-serif, "Helvetica Condensed";



	font-size: 11px;



	color: #FFFFFF;



	text-decoration: none;



	font-weight: normal;



	line-height: normal;











}



.a1:visited {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	color: #FFFFFF;



	text-decoration: none;



	font-weight: normal;



	line-height: normal;











}



.a1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	line-height: normal;
	text-decoration: underline;











}



.a4:link {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	color: #FF6600;



	text-decoration: none;



	font-weight: normal;



	line-height: 17px;











}



.a4:visited {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	color: #FF6600;



	text-decoration: none;



	font-weight: normal;



	line-height: 17px;











}



.a4:hover {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	color: #FF6600;



	font-weight: normal;



	line-height: 17px;



	text-decoration: underline;















}







.a2:link {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	color: #20461D;



	text-decoration: underline;



	font-weight: bold;







}



.a2:visited {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	color: #21451F;



	text-decoration: underline;



	font-weight: bold;







}



.a2:hover {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	color: #3D613B;



	font-weight: bold;







}



.a3:link {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	color: #333333;



	text-decoration: none;



	font-weight: normal;







}



.a3:visited {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	color: #333333;



	text-decoration: none;



	font-weight: normal;







}



.a3:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #990000;
	font-weight: normal;
	text-decoration: underline;







}







.whitesmalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	line-height: 20px;



}



.borderright2 {











	border-top-width: 4px;



	border-right-width: 4px;



	border-bottom-width: 4px;



	border-left-width: 4px;



	border-right-style: solid;



	border-top-color: #00A39F;



	border-right-color: #00A39F;



	border-bottom-color: #00A39F;



	border-left-color: #00A39F;



}



.blueunderline {



	font-family: Arial, Helvetica, sans-serif;



	font-size: 12px;



	font-weight: bold;



	color: #00A39F;



	text-decoration: underline;



}



.blacktext {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	font-weight: normal;



	color: #333333;



	line-height: 15px;







}



.bgimage {



background:url(images/star_03.jpg) no-repeat top;



}



.blacknormal {



	font-family: Arial, Helvetica, sans-serif;



	font-size: 11px;



	color: #000000;



}



.greytext {



	font-family: Arial, Helvetica, sans-serif;



	font-size: 11px;



	font-weight: normal;



	color: #CCCCCC;



}



.jumpmenu {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	color: #000000;



	height: 10px;



	width: 170px;



}



.formstyle {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	color: #666666;



	background-color: #FFFFFF;



	height: 15px;



	width: 125px;



	border: 1px solid #CCCCCC;



}



.brderleftright2 {



	border-top-width: 1px;



	border-right-width: 1px;



	border-bottom-width: 1px;



	border-left-width: 1px;



	border-right-style: solid;



	border-left-style: solid;



	border-top-color: #CCCCCC;



	border-right-color: #CCCCCC;



	border-bottom-color: #CCCCCC;



	border-left-color: #CCCCCC;



}







.buttonstyle {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	font-weight: bold;



	color: #666666;



	background-color: #FFFFFF;



	border: 1px solid #666666;



	width: 50px;







}



.formstylecomment {







	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	color: #333333;



	background-color: #FFFFFF;



	height: 200px;



	width: 250px;



	border: 1px solid #CCCCCC;



}



.headinggreen {



	font-family: Geneva, Arial, Helvetica, sans-serif;



	font-size: 16px;



	line-height: 17px;



	color: #A29444;



	font-weight: bolder;



}



.greentext {







	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	font-weight: normal;



	color: 69A54F;



}



.blacktextbold {







	font-family: "Trebuchet MS";



	font-size: 12px;



	font-weight: bold;



	color: #7E6305;



}



.blacktextsmall {







	font-family: Arial, Helvetica, sans-serif;



	font-size: 11px;



	font-weight: normal;



	color: 333333;



}



.headingblue {







	font-family: Geneva, Arial, Helvetica, sans-serif;



	font-size: 16px;



	line-height: 17px;



	color: 2A488A;



	font-weight: bolder;



}



.greytext1 {







	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 9px;



	font-weight: normal;



	color: #CCCCCC;



	line-height: 15px;



}



.headingRed {











	font-family: Geneva, Arial, Helvetica, sans-serif;



	font-size: 13px;



	line-height: 17px;



	color: #CB1C2D;



	font-weight: bolder;



}



.fieldText {











	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	font-weight: normal;



	color: #666666;



}

.border {

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-right-style: solid;

	border-left-style: solid;

	border-top-color: #CCCCCC;

	border-right-color: #CCCCCC;

	border-bottom-color: #CCCCCC;

	border-left-color: #CCCCCC;

}

.borderline {

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-top-color: #CCCCCC;

	border-right-color: #CCCCCC;

	border-bottom-color: #CCCCCC;

	border-left-color: #CCCCCC;

	border-top-style: solid;



}
.blacktext2 {




	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	font-weight: normal;



	color: #333333;



	line-height: 19px;
}
.greentextt {








	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 10px;



	font-weight: normal;



	color: #92A538;
}
.headings {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}
.borderall {
	border: 1px solid #D8D8D8;
}
.menutext {




	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	font-weight: normal;



	color: #CCCCCC;
}
.welcome {












	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 18px;



	line-height: normal;



	color: #7E6305;



	font-weight: normal;
}
.more {













	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 11px;



	line-height: normal;



	color: #F88014;



	font-weight: normal;
}
.headings {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	font-weight: bold;
}
.borderbtm {
	border-top: 1px none #999999;
	border-right: 1px none #999999;
	border-bottom: 1px dotted #999999;
	border-left: 1px none #999999;
}
.borderright {
	border-top: 1px none #BAA636;
	border-right: 1px dotted #BAA636;
	border-bottom: 1px none #BAA636;
	border-left: 1px none #BAA636;
}
.sep {
	border-top: none;
	border-right: 1px solid #CCCCCC;
	border-bottom: none;
	border-left: none;
}
.sep_btm {
	border-top: 1px solid;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
}
